default:
    suites:
        devices:
            paths:
                - ./tests/Features/Devices/
            contexts:
                - App\Tests\Behat\ApplicationContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
          kernel:
            class: App\Kernel
          bootstrap: ./tests/bootstrap.php
        Behat\MinkExtension:
          sessions:
            symfony:
              symfony: ~
          base_url: ''